---
openapi: 3.0.2

info:
  title: Dr. Fit API
  description: >-
    Dr. Fit API. Meant for enabling application development and customer
    integrations.


    ## Quick Start

    Get a login token:


    ```GET https://members.api.drfit.io/v1/customers/login?email=email&password=password```


    Be sure to set user-agent and provide a valid email and password.


    This will return a token and the customer's data. Now send token in header `Authorization: Bearer <token>` to all requests. See below for endpoints and what they return. Be sure to explore schema view to see descriptions for the data fields.
  version: 0.0.1
  termsOfService: https://drfit.io/index.php?route=legal/terms_of_service
  contact:
    name: Dr. Fit
    email: contact@drfit.io
    url: https://drfit.io/index.php?route=common/contact

tags:
  - name: Account
    description: Everything about accounts - account details, registration, statistics.
  - name: Authentication
    description: Logging in, removing access.
  - name: Catalog
    description: Products, store, categories.
  - name: Orders
    description: Orders and recurring profiles.
  - name: Metabolic and Check-ins
    description: Metabolic data retrieval and editing, submit check-ins.
  - name: Nutrition
    description: Meals, meal plans, WOD meal plans.
  - name: Workouts
    description: Workouts, exercises, WOD workouts.

externalDocs:
  description: Official API documentation repository
  url: https://github.com/Dr-Fit-Health-and-Wellness/Kinship

servers:
  - url: https://members.api.drfit.io/{basePath}
    description: Production server
    variables:
      basePath:
        default: v1
        description: The base path of the API. Reflects the version to use.
  - url: https://members.api.sandbox.dev.drfit.io/{basePath}
    description: Development sandbox server
    variables:
      basePath:
        default: v1
        description: The base path of the API. Reflects the version to use.
  - url: https://localhost:44300/members/index.php?route={basePath}
    description: Local development server
    variables:
      basePath:
        default: api/v1
        description: The base path of the API. Reflects the version to use.

paths:
  # ##########################################
  # Authentication
  # ##########################################

  "/auth/tokens":
    get:
      summary: Generate a new API key for a customer.
      description: Generate a new API key for a customer given a customer's email and password.
      tags:
        - Authentication
      operationId: authToken
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A new API key was created and returned.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      api_key:
                        type: string
                        description: The new API key. It is a 256-bit string of numbers and mixed-case letters. Will be 128 characters long.
                        example: abcd1234
                      customer:
                        type: object
                        "$ref": "#/components/schemas/Customer"
          headers:
            X-Rate-Limit:
              description: Call per hour allowed per the token.
              schema:
                type: integer
                format: int32
                example: 1000
            X-Expires-After:
              description: Date in UTC when the token expires.
              schema:
                type: string
                format: date-time
                example: 2020-01-01T00:00:00Z
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

    delete:
      summary: Delete all API keys for a customer.
      description: Delete all API keys for a customer.
      tags:
        - Authentication
      operationId: authTokenDeleteAll
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: The API key was deleted.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      count_deleted:
                        type: integer
                        description: The number of API keys deleted.
                        example: 1
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/auth/tokens/_{token}":
    delete:
      summary: Delete an API key for a customer.
      description: Delete an API key for a customer.
      tags:
        - Authentication
      operationId: authTokenDelete
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - $ref: "#/components/parameters/ApiToken"
      responses:
        "200":
          description: The API key was deleted.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      count_deleted:
                        type: integer
                        description: The number of API keys deleted.
                        example: 1
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/auth/tokens/_{token}/renew":
    get:
      summary: Renew an API key for a customer.
      description: Renew an API key for a customer.
      tags:
        - Authentication
      operationId: authTokenRenew
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - $ref: "#/components/parameters/ApiToken"
      responses:
        "200":
          description: The API key was renewed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DataModel"
          headers:
            X-Rate-Limit:
              description: Call per hour allowed per the token.
              schema:
                type: integer
                format: int32
                example: 1000
            X-Expires-After:
              description: Date in UTC when the token expires.
              schema:
                type: string
                format: date-time
                example: 2020-01-01T00:00:00Z
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  # ##########################################
  # Customers and accounts
  # ##########################################

  "/customers":
    get:
      summary: Get a customer's details.
      description: Get the current customer's basic information, including account and recent metabolic data. Requires that the customer is logged in.
      tags:
        - Account
      operationId: customer
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: Customer is logged in and exists.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Customer"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    patch:
      summary: Partially update this customer's fields.
      description: Apply a partial update to a customer, editing it's customer fields or account fields. Metabolic data fields cannot be modified here. Some fields, like IDs, cannot be modified.
      tags:
        - Account
      operationId: customerPatch
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CustomerMutable"
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CustomerMutable"
      responses:
        "200":
          description: Customer updated. Modified customer is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Customer"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/customers/_{customer_id}":
    get:
      summary: Get a specific customer's details.
      description: Get the referenced customer's basic information, including account and recent metabolic data. Requires that the customer is logged in and has access. Customers only should have access to themselves.
      tags:
        - Account
      operationId: customerGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - $ref: "#/components/parameters/CustomerId"
      responses:
        "200":
          description: Customer is logged in and exists.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Customer"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    patch:
      summary: Partially update a customer's fields.
      description: Apply a partial update to a customer, editing it's customer fields or account fields. Metabolic data fields cannot be modified here. Some fields, like IDs, cannot be modified.
      tags:
        - Account
      operationId: customerPatch
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - $ref: "#/components/parameters/CustomerId"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CustomerMutable"
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CustomerMutable"
      responses:
        "200":
          description: Customer updated. Modified customer is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Customer"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/customers/statistics":
    get:
      summary: Get basic dashboard statistics.
      description: Get basic statistics about the current customer. Requires that the customer is logged in.
      tags:
        - Account
      operationId: customerStatistics
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: Customer is logged in.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      points:
                        description: Current number of Dr. Fit points. Not to be confused with reward points.
                        type: integer
                        format: int32
                        example: 1000
                      num_completed_workouts:
                        description: The number of completed workouts.
                        type: integer
                        format: int32
                        example: 10
                      num_completed_exercises:
                        description: The number of completed exercises.
                        type: integer
                        format: int32
                        example: 20
                      num_completed_workouts_week:
                        description: The number of completed workouts this week.
                        type: integer
                        format: int32
                        example: 40
                      num_completed_exercises_week:
                        description: The number of completed exercises this week.
                        type: integer
                        format: int32
                        example: 30
                      most_viewed_workouts:
                        description: The most viewed workouts.
                        type: array
                        items:
                          type: object
                          properties:
                            workout_id:
                              description: The workout ID.
                              type: integer
                              format: int32
                              example: 1
                            title:
                              description: The workout name.
                              type: string
                              example: "Push-ups"
                            num_views:
                              description: The number of views.
                              type: integer
                              format: int32
                              example: 100
                      most_viewed_exercises:
                        description: The most viewed exercises.
                        type: array
                        items:
                          type: object
                          properties:
                            exercise_id:
                              description: The exercise ID.
                              type: integer
                              format: int32
                              example: 1
                            title:
                              description: The exercise name.
                              type: string
                              example: "Push-ups"
                            num_views:
                              description: The number of views.
                              type: integer
                              format: int32
                              example: 100
                      most_viewed_meal_plans:
                        description: The most viewed meal plans.
                        type: array
                        items:
                          type: object
                          properties:
                            meal_plan_id:
                              description: The meal plan ID.
                              type: integer
                              format: int32
                              example: 1
                            title:
                              description: The meal plan name.
                              type: string
                              example: "Push-ups"
                            num_views:
                              description: The number of views.
                              type: integer
                              format: int32
                              example: 100
                      most_viewed_meals:
                        description: The most viewed meals.
                        type: array
                        items:
                          type: object
                          properties:
                            meal_id:
                              description: The meal ID.
                              type: integer
                              format: int32
                              example: 1
                            title:
                              description: The meal name.
                              type: string
                              example: "Push-ups"
                            num_views:
                              description: The number of views.
                              type: integer
                              format: int32
                              example: 100
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/messages/_{user_id}":
    get:
      summary: Get messages between a user and a customer.
      description: Get the messages between a user and a customer. Requires that the customer is logged in and has access. Get possible user IDs via `/coaches`.
      tags:
        - Account
      operationId: messagesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: user_id
          in: path
          description: User ID to get messages for.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Customer is logged in and exists.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      messages:
                        description: The messages.
                        type: array
                        items:
                          "$ref": "#/components/schemas/Message"
                      next_page:
                        description: The next page of messages.
                        type: integer
                        format: int32
                        example: 3
                        nullable: true
                      previous_page:
                        description: The previous page of messages.
                        type: integer
                        format: int32
                        example: 1
                        nullable: true
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/coaches":
    get:
      summary: Get a list of this user's coaches.
      description: Get a list of all coaches. Requires that the customer is logged in and has access.
      tags:
        - Account
      operationId: coachesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: Customer is logged in and exists.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      coaches:
                        description: The users.
                        type: array
                        items:
                          "$ref": "#/components/schemas/User"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/coaches/_{user_id}":
    get:
      summary: Get the information of a specific coach.
      description: Get the information of a specific coach. Requires that the customer is logged in and has access.
      tags:
        - Account
      operationId: coachGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: user_id
          in: path
          description: User ID to get messages for.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Customer is logged in and exists.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/User"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  # ##########################################
  # Metabolic and check-ins
  # ##########################################

  "/check_ins/metabolic_entries":
    get:
      summary: Get a customer's metabolic entries.
      description: Get the current customer's metabolic entries. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: metabolicEntriesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of metabolic entries.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MetabolicData"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    post:
      summary: Create a new metabolic entry.
      description: Create a new metabolic entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: metabolicEntriesPost
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
      responses:
        "201":
          description: Metabolic entry created.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/MetabolicData"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins/metabolic_entries/_{metabolic_entry_id}":
    get:
      summary: Get a specific customer's metabolic entry.
      description: Get a specific customer's metabolic entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: metabolicEntriesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: metabolic_entry_id
          in: path
          description: Metabolic entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A metabolic entry.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/MetabolicData"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    patch:
      summary: Edit a metabolic entry.
      description: Edit a metabolic entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: metabolicEntriesPatchByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: metabolic_entry_id
          in: path
          description: Metabolic entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/MetabolicDataMutable"
      responses:
        "200":
          description: Metabolic entry edited.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    delete:
      summary: Delete a metabolic entry.
      description: Delete a metabolic entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: metabolicEntriesDeleteByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: metabolic_entry_id
          in: path
          description: Metabolic entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Metabolic entry deleted.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/MetabolicData"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins/timeline_entries":
    get:
      summary: Get a customer's timeline entries.
      description: Get the current customer's timeline entries. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: timelineEntriesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of timeline entries.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TimelineEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    post:
      summary: Create a new timeline entry.
      description: Create a new timeline entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: timelineEntriesPost
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/TimelineEntryMutable"
      responses:
        "201":
          description: Timeline entry created.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/TimelineEntry"
            application/x-www-form-urlencoded:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/TimelineEntry"
            multipart/form-data:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/TimelineEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins/timeline_entries/_{timeline_entry_id}":
    get:
      summary: Get a specific customer's timeline entry.
      description: Get a specific customer's timeline entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: timelineEntriesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: timeline_entry_id
          in: path
          description: Timeline entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A timeline entry.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/TimelineEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    patch:
      summary: Edit a timeline entry.
      description: Edit a timeline entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: timelineEntriesPatchByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: timeline_entry_id
          in: path
          description: Timeline entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/TimelineEntryMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/TimelineEntryMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/TimelineEntryMutable"
      responses:
        "200":
          description: Timeline entry edited.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    delete:
      summary: Delete a timeline entry.
      description: Delete a timeline entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: timelineEntriesDeleteByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: timeline_entry_id
          in: path
          description: Timeline entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Timeline entry deleted.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/TimelineEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins/journal_entries":
    get:
      summary: Get a customer's journal entries.
      description: Get the current customer's journal entries. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: journalEntriesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of journal entries.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/JournalEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    post:
      summary: Create a new journal entry.
      description: Create a new journal entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: journalEntriesPost
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/JournalEntryMutable"
      responses:
        "201":
          description: Journal entry created.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/JournalEntry"
            application/x-www-form-urlencoded:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/JournalEntry"
            multipart/form-data:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/JournalEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins/journal_entries/_{journal_entry_id}":
    get:
      summary: Get a specific customer's journal entry.
      description: Get a specific customer's journal entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: journalEntriesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: journal_entry_id
          in: path
          description: Journal entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A journal entry.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/JournalEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    patch:
      summary: Edit a journal entry.
      description: Edit a journal entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: journalEntriesPatchByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: journal_entry_id
          in: path
          description: Journal entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/JournalEntryMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/JournalEntryMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/JournalEntryMutable"
      responses:
        "200":
          description: Journal entry edited.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    delete:
      summary: Delete a journal entry.
      description: Delete a journal entry. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: journalEntriesDeleteByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: journal_entry_id
          in: path
          description: Journal entry ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Journal entry deleted.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/JournalEntry"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/check_ins":
    get:
      summary: Get a list of check-in submissions.
      description: Get a list of check-ins. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: checkInsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of check-ins.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      "$ref": "#/components/schemas/CheckIn"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"
    post:
      summary: Submit a new check-in.
      description: Create a new check-in. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: checkInsPost
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
      responses:
        "201":
          description: Check-in created.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/CheckIn"
    patch:
      summary: Modify a check-in.
      description: Modify a new check-in. Requires that the customer is logged in.
      tags:
        - Metabolic and Check-ins
      operationId: checkInsPost
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: check_in_id
          in: path
          description: Check-in ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
          application/x-www-form-urlencoded:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
          multipart/form-data:
            schema:
              type: object
              allOf:
                - "$ref": "#/components/schemas/CheckInMutable"
      responses:
        "201":
          description: Check-in modified.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/CheckIn"

  # ##########################################
  # Products
  # ##########################################

  "/products":
    get:
      summary: Get a list of products.
      description: Get a list of products.
      tags:
        - Catalog
      operationId: productsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of products.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  products:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Product"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/products/_{product_id}":
    get:
      summary: Get a product.
      description: Get a product.
      tags:
        - Catalog
      operationId: productsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: product_id
          in: path
          description: Product ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A product.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Product"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/products/_{product_id}/reviews":
    get:
      summary: Get a list of reviews for a product.
      description: Get a list of reviews for a product.
      tags:
        - Catalog
      operationId: reviewsGetByProductID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: product_id
          in: path
          description: Product ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of reviews.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          "$ref": "#/components/schemas/Review"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/categories":
    get:
      summary: Get a list of categories.
      description: Get a list of categories.
      tags:
        - Catalog
      operationId: categoriesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Category"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/categories/_{category_id}/products":
    get:
      summary: Get a list of products in a category.
      description: Get a list of products in a category.
      tags:
        - Catalog
      operationId: productsGetByCategory
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: category_id
          in: path
          description: Category ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of products in the category.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Product"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/informations":
    get:
      summary: Get a list of informations.
      description: Get a list of informations.
      tags:
        - Catalog
      operationId: informationsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of informations.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Information"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  # ##########################################
  # Orders
  # ##########################################

  "/orders":
    get:
      summary: Get a list of orders.
      description: Get a list of orders. The current user must be a registered customer.
      tags:
        - Orders
      operationId: ordersGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Order"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/orders/_{order_id}":
    get:
      summary: Get an order.
      description: Get an order. The current user must be a registered customer.
      tags:
        - Orders
      operationId: ordersGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: order_id
          in: path
          description: Order ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: An order.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Order"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/orders/_{order_id}/downloads":
    get:
      summary: Get a list of downloads for an order.
      description: Get a list of downloads for an order. The current user must be a registered customer.
      tags:
        - Orders
      operationId: downloadsGetByOrderID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: order_id
          in: path
          description: Order ID to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of downloads.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Download"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  # ##########################################
  # Workouts
  # ##########################################

  "/workouts":
    get:
      summary: Get a list of workouts.
      description: Get a list of workouts for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of workouts is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}":
    get:
      summary: Get a specific workout.
      description: Get a specific workout for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A workout is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}/views":
    description: Mark a workout as viewed.
    post:
      summary: Mark a workout as viewed.
      description: Mark a workout as viewed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Workout marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}/exercises":
    get:
      summary: Get a list of exercises for a workout.
      description: Get a list of exercises for a workout for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsExercisesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of exercises is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}/exercises/_{exercise_id}":
    get:
      summary: Get a specific exercise for a workout.
      description: Get a specific exercise for a workout for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsExercisesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A exercise is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}/exercises/_{exercise_id}/completions":
    description: Mark an exercise for a workout as completed.
    post:
      summary: Mark an exercise for a workout as completed.
      description: Mark an exercise for a workout as completed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutExercisesComplete
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise for a workout to mark as completed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as completed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      next_workout_id:
                        type: string
                        nullable: true
                        description: The ID of the next workout. Can be null if this is the last workout or if the exercise is not part of a distinct workout.
                        "$ref": "#/components/schemas/SystemID"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/workouts/_{workout_id}/exercises/_{exercise_id}/views":
    description: Mark an exercise for a workout as viewed.
    post:
      summary: Mark an exercise for a workout as viewed.
      description: Mark an exercise for a workout as viewed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutsExercisesView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/exercises":
    get:
      summary: Get a list of exercises.
      description: Get a list of exercises for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: exercisesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of exercises is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/exercises/_{exercise_id}":
    get:
      summary: Get a specific exercise.
      description: Get a specific exercise for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: exercisesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: exercise_id
          in: path
          description: The ID of the exercise to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A exercise is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/exercises/_{exercise_id}/completions":
    description: Mark an exercise as completed.
    post:
      summary: Mark an exercise as completed.
      description: Mark an exercise as completed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: exercisesComplete
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: exercise_id
          in: path
          description: The ID of the exercise to mark as completed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as completed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      next_workout_id:
                        type: string
                        nullable: true
                        description: The ID of the next workout. Can be null if this is the last workout or if the exercise is not part of a distinct workout.
                        "$ref": "#/components/schemas/SystemID"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/exercises/_{exercise_id}/views":
    description: Mark an exercise as viewed.
    post:
      summary: Mark an exercise as viewed.
      description: Mark an exercise as viewed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: exercisesView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: exercise_id
          in: path
          description: The ID of the exercise to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods":
    get:
      summary: Get a list of WODs.
      description: Get a list of WODs for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of WODs is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/WOD"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts":
    get:
      summary: Get a list of workouts for a WOD.
      description: Get a list of workouts for a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
      responses:
        "200":
          description: A list of workouts is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}":
    get:
      summary: Get a specific workout from a WOD.
      description: Get a specific workout from a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A workout is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}/views":
    description: Mark a workout in a WOD as viewed.
    post:
      summary: Mark a workout in a WOD as viewed.
      description: Mark a workout in a WOD as viewed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Workout marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Workout"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}/exercises":
    get:
      summary: Get a list of exercises for a workout in a WOD.
      description: Get a list of exercises for a workout in a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsExercisesGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of exercises is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}/exercises/_{exercise_id}":
    get:
      summary: Get a specific exercise for a workout in a WOD.
      description: Get a specific exercise for a workout in a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsExercisesGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A exercise is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}/exercises/_{exercise_id}/completions":
    description: Mark an exercise for a workout in a WOD as completed.
    post:
      summary: Mark an exercise for a workout in a WOD as completed.
      description: Mark an exercise for a workout in a WOD as completed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: workoutExercisesComplete
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise for a workout to mark as completed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as completed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    properties:
                      next_workout_id:
                        type: string
                        nullable: true
                        description: The ID of the next workout. Can be null if this is the last workout or if the exercise is not part of a distinct workout.
                        "$ref": "#/components/schemas/SystemID"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/workouts/_{workout_id}/exercises/_{exercise_id}/views":
    description: Mark an exercise for a workout in a WOD as viewed.
    post:
      summary: Mark an exercise for a workout in a WOD as viewed.
      description: Mark an exercise for a workout in a WOD as viewed. Requires that the customer is logged in.
      tags:
        - Workouts
      operationId: wodsWorkoutsExercisesView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: workout_id
          in: path
          description: The ID of the workout to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: exercise_id
          in: path
          description: The ID of the exercise to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Exercise marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Exercise"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meals":
    get:
      summary: Get a list of meals.
      description: Get a list of meals for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of meals is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meals/_{meal_id}":
    get:
      summary: Get a specific meal.
      description: Get a specific meal for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: meal_id
          in: path
          description: The ID of the meal to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A meal is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meals/_{meal_id}/views":
    description: Mark an meal as viewed.
    post:
      summary: Mark an meal as viewed.
      description: Mark an meal as viewed. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealsView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: meal_id
          in: path
          description: The ID of the meal to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Meal marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meal_plans":
    get:
      summary: Get a list of meal plans.
      description: Get a list of meal plans for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealPlansGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
      responses:
        "200":
          description: A list of meal plans is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MealPlan"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meal_plans/_{meal_plan_id}/meals":
    get:
      summary: Get a list of meals per a meal plan.
      description: Get a list of meals per a meal plan for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealPlanMealsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of meals is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meal_plans/_{meal_plan_id}/meals/_{meal_id}":
    get:
      summary: Get a specific meal per a meal plan.
      description: Get a specific meal per a meal plan for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealPlanMealsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: meal_id
          in: path
          description: The ID of the meal to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A meal is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/meal_plans/_{meal_plan_id}/meals/_{meal_id}/views":
    description: Mark an meal per a meal plan as viewed.
    post:
      summary: Mark an meal per a meal plan as viewed.
      description: Mark an meal per a meal plan as viewed. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: mealPlanMealsView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: meal_id
          in: path
          description: The ID of the meal to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Meal marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/meal_plans":
    get:
      summary: Get a list of meal plans per a WOD.
      description: Get a list of meal plans per a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: wodMealPlansGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
      responses:
        "200":
          description: A list of meal plans per a WOD is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MealPlan"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/meal_plans/_{meal_plan_id}/meals":
    get:
      summary: Get a list of meals per a meal plan per a WOD.
      description: Get a list of meals per a meal plan per a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: wodMealPlanMealsGet
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A list of meals is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/meal_plans/_{meal_plan_id}/meals/_{meal_id}":
    get:
      summary: Get a specific meal per a meal plan per a WOD.
      description: Get a specific meal per a meal plan per a WOD for the current customer. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: wodMealPlanMealsGetByID
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: meal_id
          in: path
          description: The ID of the meal to get.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: A meal is returned.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

  "/wods/_{wod_id}/meal_plans/_{meal_plan_id}/meals/_{meal_id}/views":
    description: Mark an meal per a meal plan per a WOD as viewed.
    post:
      summary: Mark an meal per a meal plan per a WOD as viewed.
      description: Mark an meal per a meal plan per a WOD as viewed. Requires that the customer is logged in.
      tags:
        - Nutrition
      operationId: wodMealPlanMealsView
      parameters:
        - $ref: "#/components/parameters/UserAgent"
        - name: wod_id
          in: path
          description: The ID of the WOD to get.
          required: true
          schema:
            type: string
            description: Date of the WOD to get. Should be in the format yyyy-mm-dd.
            example: "2020-01-01"
        - name: meal_plan_id
          in: path
          description: The ID of the meal plan to operate on.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
        - name: meal_id
          in: path
          description: The ID of the meal to mark as viewed.
          required: true
          schema:
            allOf:
              - "$ref": "#/components/schemas/SystemID"
      responses:
        "200":
          description: Meal marked as viewed.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - "$ref": "#/components/schemas/DataModel"
                properties:
                  data:
                    type: object
                    "$ref": "#/components/schemas/Meal"
        "401":
          "$ref": "#/components/responses/Unauthorized"
        "404":
          "$ref": "#/components/responses/NotFound"
        "426":
          "$ref": "#/components/responses/Insecure"
        "429":
          "$ref": "#/components/responses/RateLimited"

components:
  parameters:
    UserAgent:
      name: user_agent
      in: header
      description: The user agent string. This is used to identify the client. Should be a string of the form "App Name/Version".
      required: true
      schema:
        type: string
        example: "Dr. Fit/1.0.0"

    ApiToken:
      name: token
      in: path
      description: API token.
      required: true
      schema:
        type: string
        example: foNf083DF

    CustomerId:
      name: customer_id
      in: path
      description: A customer's ID.
      required: true
      schema:
        type: integer
        format: int32
        example: 34

  responses:
    "Unauthorized":
      description: Incorrect credentials or account doesn't exist.
      content:
        application/json:
          schema:
            allOf:
              - "$ref": "#/components/schemas/ErrorsModel"
            properties:
              code:
                type: integer
                format: int32
                description: The error code.
                example: 401
              message:
                type: string
                description: The error message.
                example: "Incorrect credentials or account doesn't exist."
    "Insecure":
      description: Insecure methods not allowed. Upgrade to HTTPS.
      content:
        application/json:
          schema:
            allOf:
              - "$ref": "#/components/schemas/ErrorsModel"
            properties:
              code:
                type: integer
                format: int32
                description: The error code.
                example: 426
              message:
                type: string
                description: The error message.
                example: "Insecure methods not allowed. Upgrade to HTTPS."
    "RateLimited":
      description: Too many authentication requests. This rate limit is lower than most others for security.
      content:
        application/json:
          schema:
            allOf:
              - "$ref": "#/components/schemas/ErrorsModel"
            properties:
              code:
                type: integer
                format: int32
                description: The error code.
                example: 429
              message:
                type: string
                description: The error message.
                example: "Too many requests."
    "NotFound":
      description: The requested resource does not exist or could not be found.
      content:
        application/json:
          schema:
[...]
